.content-wrap{
	display: grid;
	grid-template-rows: 1fr 3fr 3fr;
	background-color: #fff;
	color: black;
	height: 2500px;	
}
.sp-wrap-search{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F2F4F5;
	height: 150px;
}

.search-field {
	border: 0px outset;
	border-radius: 5px; 
	height: 40px;
	padding-left: 10px; 
}
.search-item{
	width: 75%;
	display: grid;
	grid-template-columns: 1fr 7fr 3fr 2fr;
	grid-gap: 10px;
	height: 70px;
	align-items: center;
	background-color: #fff;
}
.search-link-button {
	padding-left: 20px;
	text-decoration: none;
	color: black;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	height: 50px;
}
.search-icon-1 {
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
}
.search-icon-2 {
	margin-right: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
}
.search-line-1{
	height: 70px;
	width: 1px;
	background-color: #F2F4F5;
}
.city-field{ 
	height: 35px;
	margin-right: 20px;
	margin-left: -20px;
	border: 0px outset;
	border-radius: 5px;
}
.city-field-wrap{
	position: inherit;
	display: grid;
	grid-template-columns: 20% 60% 20%;
	grid-template-rows:1;
	align-items: center;
}