.categories-wrap{
	width: 100%;
	margin: 0 auto;
	display: grid;
	align-items: center;
}
.categories-items {
    margin-top:10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
.category-item {
	display: grid;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: #002F34; 
}
.category-item-text {
	margin-top: 8px;
	align-items: center;
	display: grid;
	justify-content: center;
}

.addshomepage-wrap {
	/*background-color: #F2F4F5;*/
	display: grid;
	justify-content: center;
	align-items: center;
	text-align:center;
	color: #002F34;
}
.bestadds-wrap{
	display: grid;
	grid-gap: 50px;
	border-radius: 3px;
	grid-template-columns: repeat(3, 400px);
	grid-template-rows: repeat(2, 600px);
}
.bestadd-item{
	background-color: #fff;
	border-radius: 8px;
	text-decoration: none;
	align-items: center;
	color: #002F34;
}
.bestadd-item:hover {
	text-decoration: none;

}
.bestadd-item-img{
    display: block;
    margin-left: auto;
    margin-right: auto
	width: 350px;
	height: 400px;
}