	*{
 	margin: 0;
 	padding: 0;
}

body{
	font-size: 16px;
	background-color: #fff;
	overflow-wrap: break-word; /*перенос слов н новою строку*/
	color: #fff;
 	font-family: main-font;
}

.container{
	max-width: 100%;
	min-width: 320px;
}

.wrap{
	/*max-width: 1500px;
	min-width: 290px;/*padding-left+padding-right+290px=320*/
	padding: 0/*top bottom*//*left right*/;
	margin: 0 auto; /*centrating block*/
}