<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>Bishop</title>
	 <link rel="stylesheet" type="text/css" href="./css/index.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
	<style>
		@font-face {font-family: main-font;src:url(./fonts/main-font.ttf);}
	</style> 
</head>
<body>
	<div class="container">
		<header class="header" th:insert="blocks/header :: header"></header>
		<content class="content">
			<div class="content-wrap wrap">
				<div  th:insert="blocks/categories :: categories"></div>
				<div  th:insert="blocks/homePageAds :: homePageAds"></div>
			</div>
		</content>
	</div>
</body>
</html>