<div th:fragment="categories">
    <div class="categories-wrap">
        <h1 style="align-items: center; display: flex; justify-content: center; color: #002F34;">categories</h1>
        <div class="categories-items">
            <a href="" class="category-item"><img src="./img/car.jfif" style="width: 100px;height: 100px;">
                <p class="category-item-text">car</p></a>
            <a href="" class="category-item"><img src="./img/phone.jfif" style="width: 100px;height: 100px;">
                <p class="category-item-text">Phone</p></a>
            <a href="" class="category-item"><img src="./img/icons/key.png" style="width: 100px;height: 100px;">
                <p class="category-item-text">Apartments</p></a>
        </div>
    </div>
</div>