<div th:fragment="header">
    <div class="header-wrap wrap">
        <div class="header-logo">
            <p class="header-text">EVESALE</p>
        </div>
        <div class="header-info">
            <span>someInfo</span>
            <a href="" class="profile-link">
						<span class="profile-link-text"><img src="./img/icons/user1.png" style="width: 30px; height: 30px; background-color: #fff; border-radius: 16px; margin-right: 15px;">
						Profile</span>
            </a>
            <a href="" class="addnewpost-link">
                <span class="addnewpost-link-text" >Add new ad</span>
            </a>
        </div>
    </div>
</div>